.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 100vh;
  /* padding-bottom: 140%; */
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  /* height: 300px;
  min-height: 200px; */
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: #cc85d9; */
  padding-bottom: 5vh;
  width: 100%;
  height: 50vh;
  /* border: 1px solid green; */
}


